/* VAR */

$primary: #ff6740;
$bg: #191a1c;
$bg-whiter: #2c2c2c;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  font-family: monospace;
}

html {
  font-size: 16px;
}

body {
  min-height: 100%;
  width: 100%;

  background-color: $bg;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  @include flex-center;
  height: 100vh;
  background-color: $bg;
  color: #fff;

  main {
    @include flex-center;
  }

  header {
    margin-bottom: 5px;
    #Title {
      color: $primary;
      font-size: 2.3rem;
    }
  }

  #WinnerDir {
    @include flex-center;
    margin-top: 1rem;

    .box {
      display: flex;
      flex-direction: column;
      text-align: center;

      background-color: $bg-whiter;
      padding: 5px 50px;
      border-radius: 10px;

      cursor: pointer;

      .name {
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.3s;
      }
      .path {
        color: #9b9b9b;
      }
    }
    .box:hover {
      .name {
        color: $primary;
      }
      .path {
        text-decoration: underline;
      }
    }
    section {
      margin-top: 10px;
      button {
        color: #fff;
        background-color: $bg-whiter;
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        border: 1px solid $primary;
        margin-left: 1rem;
      }
      button:hover {
        transform: scale(1.025);
      }
    }
  }

  form {
    @include flex-center;
    margin-top: 1rem;

    button {
      color: #fff;
      background-color: $primary;
      padding: 5px 20px;
      border-radius: 5px;
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
    }
    button:hover {
      transform: scale(1.025);
      border: 1px solid #fff;
    }
  }
}

#DirImg {
  margin-top: 20px;
  width: 30%;
  border-radius: 20px;
  border: 2px solid $primary;
  text-indent: -9999px;
}
