/* VAR */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

html {
  font-size: 16px;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #191a1c;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: #191a1c;
  color: #fff;
}

#app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#app header {
  margin-bottom: 5px;
}

#app header #Title {
  color: #ff6740;
  font-size: 2.3rem;
}

#app #WinnerDir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
}

#app #WinnerDir .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: #2c2c2c;
  padding: 5px 50px;
  border-radius: 10px;
  cursor: pointer;
}

#app #WinnerDir .box .name {
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#app #WinnerDir .box .path {
  color: #9b9b9b;
}

#app #WinnerDir .box:hover .name {
  color: #ff6740;
}

#app #WinnerDir .box:hover .path {
  text-decoration: underline;
}

#app #WinnerDir section {
  margin-top: 10px;
}

#app #WinnerDir section button {
  color: #fff;
  background-color: #2c2c2c;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #ff6740;
  margin-left: 1rem;
}

#app #WinnerDir section button:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

#app form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
}

#app form button {
  color: #fff;
  background-color: #ff6740;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#app form button:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  border: 1px solid #fff;
}

#DirImg {
  margin-top: 20px;
  width: 30%;
  border-radius: 20px;
  border: 2px solid #ff6740;
  text-indent: -9999px;
}
